=begin
#Stakkd API

## Introduction The Stakkd platform provides comprehensive data services that meet the business objectives of organizations ranging from Fortune 500 companies to startups. Our clients work in an array of industries, including insurance, financial, legal, travel, hospitality, retail, health, media, and telecommunications.  The Stakkd API is documented using the Open API 3.0.1 standard.  All endpoints are available at https://api.stakkd.io/v1. Detailed documentation for each endpoint is below, including the full URL for the endpoint.  # Account Types The API supports two different account types, each with different permissions.  ## Paid Account Paid accounts provide unlimited access to all of the URIs.  ## Trial Account Trial Accounts have a limited number of queries to the APIs. Keep in mind that queries which do not return results still count against the Trial Account query limits. Trial Accounts are temporary, but can be upgraded or extended by contacting [support@stakkd.io](mailto:support@stakkd.io) 

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module OpenapiClient
  class LookupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param content_type [String] 
    # @param x_api_key [String] 
    # @param email_lookup_request [EmailLookupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LookupResponse]
    def lookup_email_post(content_type, x_api_key, email_lookup_request, opts = {})
      data, _status_code, _headers = lookup_email_post_with_http_info(content_type, x_api_key, email_lookup_request, opts)
      data
    end

    # @param content_type [String] 
    # @param x_api_key [String] 
    # @param email_lookup_request [EmailLookupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupResponse, Integer, Hash)>] LookupResponse data, response status code and response headers
    def lookup_email_post_with_http_info(content_type, x_api_key, email_lookup_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LookupApi.lookup_email_post ...'
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LookupApi.lookup_email_post"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LookupApi.lookup_email_post"
      end
      # verify the required parameter 'email_lookup_request' is set
      if @api_client.config.client_side_validation && email_lookup_request.nil?
        fail ArgumentError, "Missing the required parameter 'email_lookup_request' when calling LookupApi.lookup_email_post"
      end
      # resource path
      local_var_path = '/lookup/email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = content_type
      header_params[:'x-api-key'] = x_api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_lookup_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LookupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey']

      new_options = opts.merge(
        :operation => :"LookupApi.lookup_email_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LookupApi#lookup_email_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param content_type [String] 
    # @param x_api_key [String] 
    # @param ip_lookup_request [IpLookupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IpLookupResponse]
    def lookup_ip_post(content_type, x_api_key, ip_lookup_request, opts = {})
      data, _status_code, _headers = lookup_ip_post_with_http_info(content_type, x_api_key, ip_lookup_request, opts)
      data
    end

    # @param content_type [String] 
    # @param x_api_key [String] 
    # @param ip_lookup_request [IpLookupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IpLookupResponse, Integer, Hash)>] IpLookupResponse data, response status code and response headers
    def lookup_ip_post_with_http_info(content_type, x_api_key, ip_lookup_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LookupApi.lookup_ip_post ...'
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LookupApi.lookup_ip_post"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LookupApi.lookup_ip_post"
      end
      # verify the required parameter 'ip_lookup_request' is set
      if @api_client.config.client_side_validation && ip_lookup_request.nil?
        fail ArgumentError, "Missing the required parameter 'ip_lookup_request' when calling LookupApi.lookup_ip_post"
      end
      # resource path
      local_var_path = '/lookup/ip'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = content_type
      header_params[:'x-api-key'] = x_api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ip_lookup_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IpLookupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey']

      new_options = opts.merge(
        :operation => :"LookupApi.lookup_ip_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LookupApi#lookup_ip_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param content_type [String] 
    # @param x_api_key [String] 
    # @param phone_lookup_request [PhoneLookupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LookupResponse]
    def lookup_mobile_post(content_type, x_api_key, phone_lookup_request, opts = {})
      data, _status_code, _headers = lookup_mobile_post_with_http_info(content_type, x_api_key, phone_lookup_request, opts)
      data
    end

    # @param content_type [String] 
    # @param x_api_key [String] 
    # @param phone_lookup_request [PhoneLookupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupResponse, Integer, Hash)>] LookupResponse data, response status code and response headers
    def lookup_mobile_post_with_http_info(content_type, x_api_key, phone_lookup_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LookupApi.lookup_mobile_post ...'
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LookupApi.lookup_mobile_post"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LookupApi.lookup_mobile_post"
      end
      # verify the required parameter 'phone_lookup_request' is set
      if @api_client.config.client_side_validation && phone_lookup_request.nil?
        fail ArgumentError, "Missing the required parameter 'phone_lookup_request' when calling LookupApi.lookup_mobile_post"
      end
      # resource path
      local_var_path = '/lookup/mobile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = content_type
      header_params[:'x-api-key'] = x_api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(phone_lookup_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LookupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey']

      new_options = opts.merge(
        :operation => :"LookupApi.lookup_mobile_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LookupApi#lookup_mobile_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param content_type [String] 
    # @param x_api_key [String] 
    # @param phone_lookup_request [PhoneLookupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LookupResponse]
    def lookup_phone_post(content_type, x_api_key, phone_lookup_request, opts = {})
      data, _status_code, _headers = lookup_phone_post_with_http_info(content_type, x_api_key, phone_lookup_request, opts)
      data
    end

    # @param content_type [String] 
    # @param x_api_key [String] 
    # @param phone_lookup_request [PhoneLookupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupResponse, Integer, Hash)>] LookupResponse data, response status code and response headers
    def lookup_phone_post_with_http_info(content_type, x_api_key, phone_lookup_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LookupApi.lookup_phone_post ...'
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LookupApi.lookup_phone_post"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LookupApi.lookup_phone_post"
      end
      # verify the required parameter 'phone_lookup_request' is set
      if @api_client.config.client_side_validation && phone_lookup_request.nil?
        fail ArgumentError, "Missing the required parameter 'phone_lookup_request' when calling LookupApi.lookup_phone_post"
      end
      # resource path
      local_var_path = '/lookup/phone'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = content_type
      header_params[:'x-api-key'] = x_api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(phone_lookup_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LookupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey']

      new_options = opts.merge(
        :operation => :"LookupApi.lookup_phone_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LookupApi#lookup_phone_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param content_type [String] 
    # @param x_api_key [String] 
    # @param skip_tracing_lookup_request [SkipTracingLookupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SkipTracingLookupResponse]
    def lookup_skip_tracing_post(content_type, x_api_key, skip_tracing_lookup_request, opts = {})
      data, _status_code, _headers = lookup_skip_tracing_post_with_http_info(content_type, x_api_key, skip_tracing_lookup_request, opts)
      data
    end

    # @param content_type [String] 
    # @param x_api_key [String] 
    # @param skip_tracing_lookup_request [SkipTracingLookupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SkipTracingLookupResponse, Integer, Hash)>] SkipTracingLookupResponse data, response status code and response headers
    def lookup_skip_tracing_post_with_http_info(content_type, x_api_key, skip_tracing_lookup_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LookupApi.lookup_skip_tracing_post ...'
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling LookupApi.lookup_skip_tracing_post"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling LookupApi.lookup_skip_tracing_post"
      end
      # verify the required parameter 'skip_tracing_lookup_request' is set
      if @api_client.config.client_side_validation && skip_tracing_lookup_request.nil?
        fail ArgumentError, "Missing the required parameter 'skip_tracing_lookup_request' when calling LookupApi.lookup_skip_tracing_post"
      end
      # resource path
      local_var_path = '/lookup/skip-tracing'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = content_type
      header_params[:'x-api-key'] = x_api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(skip_tracing_lookup_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SkipTracingLookupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey']

      new_options = opts.merge(
        :operation => :"LookupApi.lookup_skip_tracing_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LookupApi#lookup_skip_tracing_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
